
body{
  background: #e5e5e5;
  color: #25282B;
  text-align: center;
  margin: 0px;
}

#container {
  width: 90%;
  max-width: 980px;
}

button{ 
  color: #ff5e84;
  border: none;
  font-weight: bold;
  background: none;
}

.fat{
  color: white;
  background: #ff5e84;    
}

#footer a{
  color: #25282B;
  text-decoration: none;
}

.hide{
  display: none;
}